
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Comunicados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <pre>
    <a href="https://www.youtube.com/c/StarHill">
     Star Hill hace 1 día (editado)
    </a>
    Guardianes del Universo: Los invito a ver el 
     NUEVO VÍDEO del Canal, con una narración épica con todo el estilo de 
    Star Hill y que tanto me habían pedido de los capítulos 100 y 101 de 
    Next Dimensión que incluyen detalles a modo de análisis, así como un bloque al
    final con algunas curiosidades que podemos encontrar en estos mismos capítulos. 
    (Enlace en el primer comentario de esta publicación)
    </pre>
   <pre>
 <img src="https://by3302files.storage.live.com/y4pTYBFrtti_1BVsOxO0dpY744Nk-4gnXNv5WO5HDOJce8KxcxpJSn9VEBIswXYJdCKWeIE4aKj5h3iKgBFONBeHOSc_y_7rxg0V4rZA4KTnuV2BK1UDtf3Uqgto1WsAs0Vg7Y49488BsIm_4moOrBAFPg4QX1cN7ISZLhpWc65yHNY9tW6lwkW8rCUrZnC8gEb6pfb0mcLG-jHdK80CdN2bpdOBkiD7HF3Lstn-ZfmiZg/comunicado.jpg?psid=1&width=248&height=247" alt="">
 </pre> 

 


</ion-content>

