<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Redes Sociales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail>
    <p align="center "> 
    <a href="https://www.instagram.com/kal_starhill/">
    <img src="https://by3302files.storage.live.com/y4p7kvigzDzsN7FWOgjI59V_VJ10xlwqoNLHt8Yhf-p_WnjpGm24if3EO_QlmnJoAp1XuRiLd3a8pvOSLTdwXKCbCe6ooOZwcoKTmINHZDRFF4BryVAdnrdjo31FfOAs8RotIhbfeFrjh-4NJ06z52QYWNux0uiPgiiQzLw6xSQDUt7-GyiUKhgxQJOtVeYRudmQBRtpR-pHsiK2LZWATlQLBBS-qx0VVzxVMDnFjH4AdM/inta%20logo.png?psid=1&width=71&height=71&cropMode=center" alt="instagram" width="50px">
  </a>
    
     <a href="https://www.twitch.tv/starhill">
     <img src="https://by3302files.storage.live.com/y4p_yAE0qjOtaoJXwY_jAoeegJvVT4Kr56necXyZ2Vhy2Hz3-PT5gsjAK5Xfze-6FYPHoMgMQ12CIzn7eLDyw5nPDdYbwAqtcHRKrjLuWvty3TtGYxrusf0QUrFeXE0iw4XTTfDxKUi_sXuldWlQlNLqWJqSN7uPyYaKsIZE6mVmxIiLzEtXq5qWRawr2Lua5bedeiMaaBEoG7bYxB43AjswHrARp2QBLg38YDpSlc-eHw/twitch%20logo.png?psid=1&width=117&height=66" alt="Canal Secundario" width="50px">
    </a>
    
    <a href="https://www.youtube.com/c/StarHill/videos">
    <img src="https://by3302files.storage.live.com/y4p5YaXS-7grH48cEaST5PgWUN9Liu4kZ4gXwIlnki3x--ak_W_4KtGE_FtwzRjpB3lJDuYeLvIkiCJ50kyKpMt7qJYN8nThrVrnHq7ViPpczxm9epSbarHwF9J1OH9NSm8KEHq0d1nySDmNGFCAAQevhfTAbvINUv0nrIytqeoc4E1UpweCBB7rf-IELgzGN44qK8n12Kb5cU3-PjK8YyVisX8RKv57H716YoVQvbUdwY/YT%20logo.png?psid=1&width=70&height=50" alt="youtube" width="50px">
  </a>
 
    <a href="https://www.facebook.com/StarHillSaintSeiya/">
    <img src="https://by3302files.storage.live.com/y4pPZEDkmRAjHNV001WMNYJmwTjWFCecEhL-1ivM6vuqz4US_79Z7Z77aWvtrfyiQTnUvM8yP4GJ6ldfuLHV9WVQ9BHfFhi0ALo3xfPjFWevJBz5YE86vTe7eQvyONMXcYQrPK63dcucO1I7n6fanDoQBYofZt_vYY4IoXCwEmw0zTVqzvTZCe8j2QOCtKLLeZ5HKzjrSknvrNh17uzWrvs8kvFI8y3KOsR0ttC5iprLSc/face%20logo.png?psid=1&width=66&height=66&cropMode=center" alt="Faceboock" width="50px">
  </a>
 
  </p>
  </ion-thumbnail>

</ion-content>