<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-thumbnail>
  <a href="https://streamlabs.com/reallykalel/tip">
    <img src="https://by3302files.storage.live.com/y4pSx7DwvB_jSCSIWqKXxShPX3TSArO0REbjsNKbCxy6t5RW9y29RLMBfTyhGkla3oqMP53I5r4_79hygwZD9PaxrdOoRxVs6yd2RhgCapGvevDVRj5XM1TtsjuduVffrC5g0ABuHB4eYv97uH8P6-oIM4ftuV6LPS4T03ubSMgPYoI1xGXBuJJLS9OMMgS__P2UphC254BbHoYneQWHvYP50gnAoQx5tHBmOeCF4b5usY/StreamLogo.png?psid=1&width=236&height=138" alt="Donaciones streamlabs" width="350px">
  </a>
      
    
    

  </ion-thumbnail>
</ion-content>