<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
      <p>
        Membresias
      </p>
     </div>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <pre>
    MXN 29.00 por mes
 <ion-button> Unirse</ion-button>
Pago recurrente. Puedes cancelar en cualquier momento. 
Es posible que el creador actualice los beneficios.
Insignias de lealtad junto a tu nombre en los comentarios y el chat en vivo
<img src="https://yt3.ggpht.com/_5aQEvu1TNxJlmKMcjapyFEHJHVdzk-vDE3CRW_hLgYrPmVU1R0Nb4Ek4zH67zbyF8Wu7Pwu=s64-k-nd" alt="">   <img src="https://yt3.ggpht.com/Ge05ArAskz5B8NLIRKJTKWTnZ7JPI5jsLyeJCzeIYealOXU1DMqbQ0DSl1ANfT0ZQqg_kehQjrg=s64-k-nd" alt="">  <img src="https://yt3.ggpht.com/glWrvWz6LKNcSiNcLe4seqUkNuyyRHMSeTXHcDTBGFurUI9QA0j0Cu2nbWOv8sDpHodVhIbY=s64-k-nd" alt="">  <img src="https://yt3.ggpht.com/j_AVfXxMqXWxg6p3qU7vEZajwu6KqF6r5k-BD6vlzwMHCbG8FlOJSvFRhm7QuWEQom-4Xg8gJ5c=s64-k-nd" alt="">  <img src="https://yt3.ggpht.com/WAxTRiXC4f5p7XfK3C0N6ZeL1Bf6MW-rfl_aiIPTgApkE7r3amAg_joIHqfudQ1gVzLyED7VzQ=s64-k-nd" alt="">


 Emojis personalizados que se pueden usar en los comentarios y el chat en vivo
<img src="https://yt3.ggpht.com/M3N89uIjGX9Wwb7vmzv-7dnuPscB8rnJIuSJk2yjFtjDWkyR77BMLk0sfx8xVs39wIgzHsePPA=w48-h48-c-k-nd" alt="">  <img src="https://yt3.ggpht.com/kGcxHoIRxW_v1abiDdSlMmERK1-oUbnJBP-2mBYoCGLzaszJ7oG6ETjfpCbsD-uwWZfQ6giK_X4=w48-h48-c-k-nd" alt=""> <img src="https://yt3.ggpht.com/KQpPgxwkcwB5YzmOV78b3AtGqUOGjw1I6_s0EolEAA4wRKvGQg93HvnI7ArdJVk404QRcm6H=w48-h48-c-k-nd" alt="">
                  NOMBRAMIENTO DE CABALLERO
                  RECONOCIMIENTO EN BATALLA
                  AUDIENCIA CON EL PATRIARCA
                  PRIVACIÓN DE LOS SENTIDOS
                  sMás información sobre los beneficios 
Es posible que el nombre de tu canal y tu estado de miembro tengan visibilidad pública, y que el canal los comparta con terceros para entregar los beneficios. 
  </pre>
  
</ion-content>