<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>Canal Secundario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <p align="center ">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/qy8stVfn-us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 <iframe width="560" height="315" src="https://www.youtube.com/embed/V81hDF4jv5Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

 
 <iframe width="499" height="345" src="https://www.youtube.com/embed/videoseries?list=PLVsSCRd44cK7QScfwvWSy2HblLMhE-1RA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                        
</p >
 
</ion-content>